@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  padding-top: 56px;
  background-color: #1e1e1e;
  color: #fff;
  text-align: center;
}
.np {
    margin-top: 20px;
}

.hsome {
  padding-bottom: 3%;
}

.navbar {
  background-color: #343a40;
}

.navbar-brand img {
  max-height: 40px;
}

.jumbotron {
  background-color: #343a40;
  color: #fff;
  padding: 150px 0;
}

.jumbotron img {
  max-width: 300px;
}

.feature-section,
.contact-section {
  background-color: #2c2c2c;
  color: #fff;
  padding: 150px 0;

}

.about-section {
  background-color: #1e1e1e;
  color: #fff;
  padding-top: 80px;
}

.mission-section {
  background-color: #1e1e1e;
  color: #fff;
  padding: 40px 0;
}

.footer {
  background-color: #343a40;
  color: #fff;
  padding: 20px 0;
}

.btn-primary {
  background-color: #92C7CF;
  border-color: #92C7CF;
  color: #000;
}

.btn-primary:hover {
  background-color: #99BC85;
  border-color: #99BC85;
  color: #000;
}

.creators-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  color: #fff;
  text-decoration: none;
}

.creators-list li {
  margin-right: 20px;
}

.creators-list a {
  color: #fff;
  text-decoration: none;
}

.creators-list a:hover {
  text-decoration: underline;
}

.row p {
  margin: 50px;
  font-size: 15px;
}

.row ab {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-ab p {
  font-size: 25px;
  width: 70%;
  text-align: center;
  margin-left: 200px;
}

#mission p {
  font-size: 25px;
  width: 70%;
  text-align: center;
  margin-left: 200px;
  margin-top: 0px;
  padding-top: 0px;
}

span {
  color: #92C7CF;
}

.col-lg-4 {
  border: 2px solid black;
  /* width: 10%; */
  padding: 10px;
  /* width: 70%; */
  margin: 0px;
}
.mb-4 {
  font-size: 50px;
}

.last-text p {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  background: #2c2c2c;
  /* font-weight: 300; */
  margin-top: 70px;
}

.top {
  position: fixed;
  bottom: 2.1rem;
  right: 2.1rem;
}

.top i {
  color: #000;
  background: #92C7CF;
  font-size: 20px;
  padding: 10px;
  border-radius: 0.5rem;
}
.contact-section {
    padding: 5px 0;
    color: #ffffff;
  }

  .contact-icons {
    font-size: 2em;
    color: #ffffff;
  }

  .contact-info {
    text-align: center;
  }

  .contact-info p {
    color: #ffffff;
  }

  .contact-form {
    margin-top: 40px;
    
    padding: 20px; 
    border-radius: 10px;
     
     background-color: #fcfefe;
  }
.space {
    margin-top: 40px;
}
.fw {
    margin: 20px 20px 20px;
}
  .form-control {
    border-radius: 0;
  }

  .btn-primary {
    border-radius: 0;
  }